<aside class="menu">
  <p class="menu-label">
    Menu General
  </p>
  <ul class="menu-list">
    <li>
      <a class="is-active">Perfil</a>
      <ul>
        <li><a [routerLink]="['/login']" >Login</a></li>
        <li><a [routerLink]="['/register']" >Register</a></li>
      </ul>
    </li>
  </ul>

  <ul class="menu-list">
    <li *ngFor="let pMenu of menu">
      <a [ngClass]="{'is-active': isActive}" (click)="isActive = !isActive">{{ pMenu.title }}</a>
      <ul *ngIf="isActive">
        <li *ngFor="let subMenu of pMenu.subMenu"><a routerLinkActive="is-active" [routerLink]="[ subMenu.url ]" >{{ subMenu.title }}</a></li>
      </ul>
    </li>
  </ul>

</aside>