.register-form {
  position: relative;
  z-index: 100;
  background-color: #fafafa;
  height: 100vh;
  max-width: 450px;
}

form {
  padding: 25px 10px;
  margin-top: 15%;
}

.columns {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}